@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Verse */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

/* Blockquote with articles in chapter 2-8 */
#chapter-2-8 blockquote p{
	text-indent: 1em;
}
